.catalog {
  font-size: 3rem;
  margin: auto;
  margin-top: 190px;
  background-color: #05203de3;
  width: fit-content;
  color: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

/* .catalogContent {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
} */

.bottom button {
  margin: auto;
  font-size: 1.2rem;
  background-color: #05203c;
  border: 3px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.bottom {
  display: flex;
  gap: 20px;
}
