.textContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.textContent h2 {
  font-size: 3rem;
  background-color: #05203c;
  border: 3px solid;
  border-radius: 10px;
  padding: 7px;
  margin: auto;
}

.textContent h3 {
  margin: auto;
  font-size: 1.5rem;
  
  background-color: #05203c;
  border: 3px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;

}

.textContent h4 {
  margin: auto;
  font-size: 1.2rem;

  background-color: #05203c;
  border: 3px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;

}
