
.aboutdiv{
    margin: auto;
    max-width: 900px;
    background-color: #05203ce3;
    color: white;
    margin-top: 140px;
    padding: 50px 50px;
    border-radius: 20px;
}

.aboutdiv p{
    font-size: 2rem;
}
